# Core
streamlit==1.31.0
firebase-admin==6.4.0
pandas==2.1.4
opencv-python-headless>=4.8.0
numpy>=1.24.0

# Web scraping
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

# Data visualization
plotly==5.18.0

# Utils
python-dateutil==2.8.2
python-dotenv==1.0.0

# OCR Tools - dal più leggero al più pesante
pytesseract>=0.3.10
Pillow>=10.0.0
pyzbar>=0.1.9
textract>=1.6.5
kraken>=2.0.8